<div class="test-model clearfix challenge_bank">
  <div class="left-test-side">
    <p class="down-arrow"><i class="fa fa-chevron-down"></i> <%= t("Your Progress")%></p>
    
    <ul class="clearfix progress-rank">
      <% @questions.each_with_index do |question, i| %>
        <% result = get_report_label_for_challenge(question.id) %>
          <li id="<%= question.id %>" class="<%= result %> question_completed"><%= i + 1 %></li>
      <% end %>
    </ul>
    
    <%= link_to(root_path) do %>
      <button class="reset-test"><i class="fa fa-chevron-left"></i> <%= t("Back to the menu") %></button>
    <% end %>
  </div>
  <div class="right-test-side">
    <p class="page-title"><i class="fa fa-check-circle"></i> Your Challenge Bank </p>
    <div class="clearfix test-detail">This is a place where all your missed questions live. Every time you make a mistake in any other mock theory test on our website, that question will appear here, in your Challenge Bank. This is your very own remediation room, another chance to retake those tricky questions and learn from your own mistakes. Good luck!</div>

    <% if @question.present? %>
      <%= hidden_field_tag :current_question, @question.id %>
      <p class="question_bar">
        <%if @question.attachments.present?%>
          <%= image_tag(@question.attachments.last.attachment_url(:thumb).to_s , :class=> "question-img" ) %>
        <%end%>
        <%= @question.title %>
      </p>
      <div class="check-answer">
        <% @question.answers.each do |answer| %>
          <div class="answer-animation">
            <label class="clearfix scorecard challenge-question-<%= @question.id %>"  id="<%= answer.id %>"><span></span> <%= answer.title %></label>
          </div>
        <% end %> 
      </div>
      <div id = "hint">
        <%= @question.hint %>
      </div>
      <p class="next-button disabled"> 
        <%= link_to(challenge_bank_quizzes_path(qid: @question.id)) do %><% end %>
      </p>
      <p class="hint">
        <a href="javascript:void(0)">
        <i class="fa fa-eye-slash"></i><%= t("Hint") %></a>
      </p>
      <p class="progress-bar-increase"></p>
    <%end%>
  </div>
</div>