<% if @question.present? %>
  <%= hidden_field_tag :current_question, @question.id %>
  <%= hidden_field_tag :current_quiz, @quiz.id %>
  <p class="question_bar"><%= @question.title %></p>
  <div class="check-answer">
    <% @question.answers.each do |answer| %>
      <div class="answer-animation">
        <% if answer.correct %>
          <label class="correct-answer"><span></span> <%= answer.title %></label>
        <% elsif %>
            <% if @report.answer_id == answer.id && answer.correct == false %>
              <label class="wrong-answer"><span></span> <%= answer.title %></label>
            <% else %>
              <label><span></span> <%= answer.title %></label>
            <% end %>
        <% end %>  
      </div>
    <% end %>
  </div>
  <div class="np-buttons">
    <p class="previous-button">
      <%= link_to view_questions_quiz_path(@quiz.id,question_id: @question.id, step: "previous"), class: "previous-button" do %> <% end %>
    </p>
    <p class="next-button"> 
      <%= link_to view_questions_quiz_path(@quiz.id,question_id: @question.id, step: "next"), class: "next-button" do %> <% end %>
    </p>
  </div>
  <p class="hint"><a href="#"><i class="fa fa-eye-slash"></i>Hint</a></p>
  <p class="progress-bar-increase"></p>
<%end%>

<script>

$(document).on('ready', function(){
  $('.check-answer label').addClass('disabled');
  $('.next-button').removeClass('disabled');
});

</script>