<div class="fact-sheet">
  <div class="col-md-4 theory-fact">
    <h3>
      <%= t(".DVLA Theory Fact Sheet") %>
    </h3>
    <table>
      <tbody>
        <tr class="odd">
          <td>
            <%= image_tag('help-round-button.png') %> <%= t(".Number of questions") %>:
          </td>
          <td>
            <span class="badge badge-warning"><%= @questions.count%></span>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag('checked.png') %><%= t(".Answer correctly to pass")%>:
          </td>
          <td>
            <span class="badge badge-success"><%= @pass_score %></span>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <%= image_tag('check-box.png') %><%= t("Pass mark")%>:
          </td>
          <td>
            <span class="badge badge-info"><%= @passing_percent%> %</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
