<div id="wrapper">
  <article>
    <div class="test-model clearfix">
      <div class="left-test-side">
        <p class="down-arrow"><i class="fa fa-chevron-down"></i><%= t('.Your Progress')%></p>
        
        <ul class="clearfix progress-rank">
          <% @questions.each_with_index do |question, i| %>
            <% result = get_report_label_color(question.id, @quiz.id) %>
              <li id="<%= question.id %>" class="<%= result %> question_completed"><%=  i + 1 %></li>
          <% end %>
        </ul>
        <p class="correct-ans"><%= @pass_score %> <%= t(".correct answers to pass") %> (<%= @mistakes_allowed %> <%= t(".mistakes allowed") %> )</p>
        <%= link_to quiz_path(@quiz.id), method: :delete do %>
          <button class="reset-test"><i class="fa fa-repeat"></i> <%= t(".Restart the test") %></button>
        <% end %>
        
        <p class="change-bank">
          <%= link_to challenge_bank_quizzes_path do %><%= t(".Your Challenge Bank")%> 
            <span class="change-bank-count"><%= @challeng_questions.count %></span>
            <b class="plus-count">+1</b>
          <% end %>
        </p>
        
        <%= link_to(root_path) do %>
          <button class="reset-test"><i class="fa fa-chevron-left"></i><%= t(".Back to the menu") %></button>
        <% end %>
      </div>
      <div class="right-test-side">
        <% if @question.present? %>
          <%= hidden_field_tag :current_question, @question.id %>
          <%= hidden_field_tag :current_quiz, @quiz.id %>
          <p class="question_bar">
            <%if @question.attachments.present?%>
              <%= image_tag(@question.attachments.last.attachment_url(:thumb).to_s , :class=> "question-img" ) %>
            <%end%>
            <%= @question.title %>
          </p>
          <div class="check-answer">
            <% @question.answers.each do |answer| %>
              <div class="answer-animation">
                <label class="clearfix scorecard squestion-<%= @question.id %>"  id="answer_<%= answer.id %>" data-answer="<%= answer.id %>"><span></span> <%= answer.title %></label>
              </div>
            <% end %>
            <div id = "hint">
              <%= @question.hint %>
            </div>
          </div>
          <p class="next-button disabled"> 
            <%= link_to quiz_path do %>
              <%= t(".next_question") %> <i class="fa fa-chevron-right"></i>
            <% end %>
          </p>
          <p class="hint">
            <a href="javascript:void(0)"><i class="fa fa-eye-slash"></i><%= t(".Hint") %></a>
          </p>
          <%= link_to t(".Found a mistake? Let us know!"), new_feedback_path(:locale=> I18n.locale, question_id: @question.id), remote: true %>
          <div class="addthis_inline_share_toolbox"></div>
          <p class="progress-bar-increase"></p>
        <%end%>
      </div>
    </div>
    <div class="fact-theory">
      <%= render 'report'%>
    </div>
  </article>
</div>
<div class="modal fade" id="feedback-modal"></div>
