<div id= "message"></div>
<% if @reports.pluck(:question_id).uniq.count == @questions.count %>
  <%= render "result" %>
<%else%>
  <%= render "show" %>
<%end%>

<style type="text/css">
	
#message {
	color: #3c763d;
	display: none;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
	border-radius: 4px;
	max-width: 1080px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px auto 0;
	transition: all 0.5s;
}
</style>