<div id="wrapper">
  <article>
    <div class="test-model clearfix">
      <div class="left-test-side">
        <p class="down-arrow"><i class="fa fa-chevron-down"></i> Your Progress</p>
        
        <ul class="clearfix progress-rank">
          <% @all_questions.each_with_index do |question, i| %>
            <% result = get_report_label_color(question.id, @quiz.id) %>
              <li id="<%= question.id %>" class="<%= result %> question_completed"><%= i + 1 %></li>
          <% end %>
        </ul>
        <p class="correct-ans"><%= @pass_score %> correct answers to pass (<%= @mistakes_allowed %> mistakes allowed)</p>

        <%= link_to quiz_path(@quiz.id) do %>
          <button class="reset-test"><i class=""></i> Back to the Score page </button>
        <% end %>
        <%= link_to quiz_path(@quiz.id), method: :delete do %>
          <button class="reset-test"><i class="fa fa-repeat"></i> Restart the test</button>
        <% end %>
        
        <p class="change-bank">
          <%= link_to challenge_bank_quizzes_path do %>Your Challenge Bank <span class="change-bank-count"><%= @challeng_questions.count rescue 0 %></span>
          <% end %>
        </p>
        
        <%= link_to(root_path) do %>
          <button class="reset-test"><i class="fa fa-chevron-left"></i> Back to the menu</button>
        <% end %>
      </div>
      <div class="right-test-side">

        <%= render "next_question" %>

      </div>
    </div>
  </article>
</div>
