<!--Price-Area -->
<section class="section-padding price-area" id="price_page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title text-center">
          <h5 class="title">Pricing Plan</h5>
          <h3 class="dark-color">Our Awesome Pricing Plan</h3>
          <div class="space-60"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-xs-12 col-sm-4">
          <div class="price-box">
            <div class="price-header">
              <div class="price-icon">
                <span class="lnr lnr-rocket"></span>
              </div>
              <% stripe_plan = plan.get_stripe_plan %>
              <h4 class="upper"><%= plan.name %></h4>
            </div>
            <div class="price-body">
              <ul>
                <%= plan.description.html_safe rescue "" %>
              </ul>
            </div>
            <div class="price-rate">
              <sup>SEK</sup> <span class="rate"><%= stripe_plan.amount/100 %></span>
            </div>
            <div class="price-footer">

              <% if (@user_plan && (@user_plan.id == plan.id)) %>
                <a class="bttn-white">In use</a>
              <% else %>
                <%= link_to t("Subscribe"), new_membership_path(plan_id: plan.id), class: "bttn-white" %>
              <% end %>
            </div>
          </div>
          <div class="space-30 hidden visible-xs"></div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!--Price-Area-End -->
