<!-- Payment-Area -->
<section class="video-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="video-photo">
          <%= image_tag("stripe-paypal.png")%>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="payment_form">
          <div style="margin-bottom: 20px;">
            <div style="display: inline-block; margin-right: 2em;">
              <input id="stripe-option" type="radio" name="stripe" checked="checked">
              <%= image_tag("stripe_logo.png", size: "80x25")%>
            </div>
            <div style="display: inline-block;">
              <input id="paypal-option" type="radio" name="stripe">
              <%= image_tag("paypal_logo.png", size: "80x25")%>
            </div>
          </div>
          <div>
            <% stripe_plan = @plan.get_stripe_plan %>
            <p>You need to subscribe your account.</p>
            <article>
              <label class="amount" style="margin: 10px 0;">
                <span>Amount: SEK <%= stripe_plan.amount/100 %></span>
              </label>
            </article>
            <div id="stripe-btn">
              <%= form_tag memberships_path, id: "new_membership" do %>
                <%= hidden_field_tag "plan_id", @plan.id %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                        data-description="<%= stripe_plan.nickname %>"
                        data-amount="<%= stripe_plan.amount %>"
                        data-currency="SEK"
                        data-email="<%= current_user.email %>"
                        data-bitcoin="true"
                        data-locale="auto">
                </script>
              <% end %>
            </div>
            <div id="paypal-button" hidden></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Payment-Area-End -->

<!-- Load PayPal's checkout.js Library. -->
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.34.1/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.34.1/js/paypal-checkout.min.js"></script>

<script type="text/javascript">
  // Create a client.
  braintree.client.create({
    authorization: '<%= @token %>'
  }, function (clientErr, clientInstance) {

    // Stop if there was a problem creating the client.
    // This could happen if there is a network error or if the authorization
    // is invalid.
    if (clientErr) {
      console.error('Error creating client:', clientErr);
      return;
    }

    // Create a PayPal Checkout component.
    braintree.paypalCheckout.create({
      client: clientInstance
    }, function (paypalCheckoutErr, paypalCheckoutInstance) {

      // Stop if there was a problem creating PayPal Checkout.
      // This could happen if there was a network error or if it's incorrectly
      // configured.
      if (paypalCheckoutErr) {
        console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
        return;
      }

      // Set up PayPal with the checkout.js library
      paypal.Button.render({
        env: '<%= Rails.application.secrets.braintree_env %>', // or 'sandbox'

        payment: function () {
          return paypalCheckoutInstance.createPayment({
            flow: 'vault'
            // Your PayPal options here. For available options, see
            // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
          });
        },

        onAuthorize: function (data, actions) {
          return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
            // Submit `payload.nonce` to your server
            var form = $('#new_membership')[0];
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'payment_method_nonce');
            hiddenInput.setAttribute('value', payload.nonce);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
          });
        },

        onCancel: function (data) {
          console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
        },

        onError: function (err) {
          console.error('checkout.js error', err);
        }
      }, '#paypal-button').then(function () {
        // The PayPal button will be rendered in an html element with the id
        // `paypal-button`. This function will be called when the PayPal button
        // is set up and ready to be used.
      });

    });

  });
</script>