<div class="form-center">
  <h2 class="edit-form-h2"><%= t('.title', resource: "#{resource_name.to_s.humanize}") %></h2>

  <% if resource.subscription_ends_at.present? %>
    <%= label_tag t('.subscription_ends_at') %>:<br />
    <%= resource.subscription_ends_at.to_date %><br /><br />
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= t('.First name') %><br />
      <%= f.text_field :first_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= t('.Last name') %><br />
      <%= f.text_field :last_name, class: "form-control"  %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" , class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit t(".update"), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <p>
    <h3><%= t('.cancel_my_account') %></h3>

    <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

    <%= link_to t('devise.shared.links.back'), :back %>
  </p>
</div>
