<div class="form-center">
  <h2><%= t('.Sign Up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('.Enter Email') %>
    </div>

    <div class="form-group">
      <%= f.text_field :first_name, class: "form-control", placeholder: t('.First Name')  %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: "form-control", placeholder: t('.Last Name')  %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%= t('.characters minimum')%> )</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('.Password')  %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t('.Password Confirmation')  %>
    </div>

    <div class="actions">
      <%= f.submit t(".Sign Up"), class: 'btn btn-success' %>
    </div>
  <% end %>

  <p>
    <%= render "devise/shared/links" %>
  </p>
</div>