<%- if controller_name != 'sessions' %>
  <br><%= link_to t(".Log In"), new_session_path(resource_name), class: 'btn btn-success' %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'sessions' %>
  <br><%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-info' %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t(".Forgot your password?"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t(".Didn't receive confirmation instructions?"), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <% class_name = (provider  == :facebook) ? 'primary' : 'danger'%>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn btn-#{class_name}" %><br />
  <% end -%>
<% end -%>
