<% if scorecards.present? %>
  <% scorecards.each_with_index do |scorecard, index| %>
    <div class="leader-users-btns" >
      <ul>
        <li class="clearfix">
          <div class="rank-number clearfix">
            <%= image_tag "crown.png", alt: "Place", width: "45" %><%= (index+1) %>
          </div>
          <div class="ranker-detail clearfix">
            <div class="ranker-name">
              <%= scorecard['user'].full_name %>
            </div>
            <div class="ranker-ranks-point">
              <span><%= scorecard['score_percentage'].to_f.round(2) %> %</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class="text-center">No record found.</div>
<% end %>