<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8691613893270336",
    enable_page_level_ads: true
  });
</script>
<article>
  <div class="container theory-text">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('.Breeze Through Your 2018 DVLA Theory Test')%></h1>
        <div><%= t('.Just like the real thing More effective than the Highway Code')%></div>
        <p class="theory-link down-scroll"><a href="javascript:void(0)"><%= t('.Select your mock theory test') %></a></p>
        <p class="theory-image"><%= image_tag("transport.png")%> </p>
      </div>
      <p class="border-trangle"><span></span></p>
    </div>
  </div>
  <div class="start-test-theory">
    <div class="inner-test-theory">
      <div class="get-ready"><%= t(".Get Ready for Your 2018 DVLA Theory Test Now") %></div>
      <div class="test-topic">
        <ul class="clearfix">
          <% @categories.each do |category| %>
            <li>
              <%= link_to "#{category.quizzes.count} #{category.name}", get_quizzes_categories_path(category_id: category.id) , remote: :true, class: 'car-test active-text' %>
            </li>
          <% end %>
          <li><a class= "faq_scroll" href="javascript:void(0)"><%=t(".UK DVLA FAQ")%></a></li>
          <li><a href="javascript:void(0)"><%=t(".What Our Users Are Saying")%></a></li>
          <li class="border-bar"></li>
        </ul>
      </div>
      <div class = "quiz">
        <%= render "categories/quizzes", :@quizzes => @quizzes   %>
      </div>
      <h2 class="uk-heading"><%= t(".UK Driving Licence Frequently Asked Questions") %></h2>
      <div class="driving_licence">
        <div class="left-licence">
          <p><%= t(".UK Driving Licence FAQ") %></p>
          <ul>
            <% FaqCategory.all.each do |category| %>
              <li class="title" id="category-<%= category.id %>" >
                <%= category.title %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class = "expand-collapse">
          <div class="right-licence">
            <h2 class="question-heading">
              How Can I Get Ready for my UK Driving Theory Test? Frequently Asked Questions
              <p class= 'expand-text'><%= t(".Collapse All") %></p>
            </h2>
            <%if @faq_questions.present?%>
              <% @faq_questions.each do |question| %>
                <ul>
                  <li>
                    <h3 class = "question-link" id = "question_tag-<%=question.id%>"><%= image_tag('question.gif') %><%= question.title %></h3>
                    <div id = "answer-<%= question.id %>" class= "text"><%= question.answer_detail %></div>
                  </li>
                </ul>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials">
    <div class="container">
      <div class="section_heading">
        <h2 class="get-ready">What our users are saying</h2>
        <p>Over 15,000 UK learner drivers use TopTests.co.uk daily</p>
      </div>
      <% @user_reviews.each_slice(3) do | user_reviews | %>
        <div class="testimonial_wrapper row">
          <%=render user_reviews %>
        </div>
      <% end %>
    </div>  
  </div>
</article>

<script>

  $(document).ready(function(){
    $(".expand-text").click(function(){
      $(".text").toggle(300);
      if($('.expand-text').text() == "Expand All"){
        $('.expand-text').text("Collapse All")
      }
      else{
        $('.expand-text').text("Expand All")
      }
    });
  }); 

  toggle_effect = function() {
    $(".question-link").click(function(){
      var id = this.id.split('-')[1]
      id = parseInt(id)
      $("#answer-"+id+"").toggle(200);
    });
  };


  $(document).ready(function(){
    toggle_effect()
    $('.left-licence li:first-child').addClass('active_bg')
  });

  $(document).ready(function(){
    $(".title").unbind().click(function() {
      $('.right-licence').html('');
      var category_id = parseInt(this.id.split('-')[1])
      var x = document.getElementsByClassName("active_bg");
      $(x[0]).removeClass('active_bg');
      $(this).addClass('active_bg');
      $.ajax({
        url: "/faq_categories/"+category_id+"/get_questions",
        type: 'GET',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(response) {
          $(".right-licence").append('<h2 class= "question-heading">'+response.faq_category.heading+' <p class= "expand-text">Collapse All</p></h2>')
          response.faq_questions.forEach(function(faq_question){
            $('.right-licence').append( "<ul><li><h3 class= 'question-link' id = 'question_tag-"+faq_question.id+"'> <img src='/assets/question-4c9f8eeb8672fe9593236021bf5f4eb0d73dfc38fa33624bc77ad6e840d1a817.gif' alt='Question'> " + faq_question.title + "</h3> <div class = 'text' id = 'answer-"+faq_question.id+"'> " + faq_question.answer_detail + " </div></li></ul>")
          });
          toggle_effect()
          $(".expand-text").unbind().click(function(){
            $(".text").toggle(300);
            if($('.expand-text').text() == "Expand All"){
              $('.expand-text').text("Collapse All")
            }
            else{
              $('.expand-text').text("Expand All")
            }
          });
        }
      })    
    });
  });

</script>

<script>
$(document).ready(function(e) {

  $('.test-topic ul li:nth-child(1)').click(function() {
    $('.border-bar').css({
      'left' : '0px',
      'width' : '152px'
    });
  });
  
  $('.test-topic ul li:nth-child(2)').click(function() {
    $('.border-bar').css({
      'left' : '160px',
      'width' : '230px'
    });  
  });
  $(".theory-link").click(function() {
    $('html, body').animate({
        scrollTop: $(".get-ready").offset().top
    }, 1000);
  })

  $('.faq_scroll').click(function(){
    $('html, body').animate({
      scrollTop: $(".uk-heading").offset().top
    }, 500);

  })

});
</script>

</html>
