<article>
	<div class="inner-test-userboard">
		<div class="get-ready marg-top"><%= t('.leader_board') %></div>
		<div class="leader-users">
			<ul id="filters" class="clearfix">
				<li class="active">
					<span class="filter" data-filter="today">
						<%= t('.today_filter') %>
					</span>
				</li>
				<li>
					<span class="filter" data-filter="week">
						<%= t('.week_filter') %>
					</span>
				</li>
				<li>
					<span class="filter" data-filter="month">
						<%= t('.month_filter') %>
					</span>
				</li>
			</ul>
		</div>
		<div id='leader-board'>
			<%= render partial: 'leader_board', locals: { scorecards: @scorecards } %>
		<div>
	</div>
</article>
<script type="text/javascript">
	$(document).ready(function(){
		$('.filter').on('click', function(){
			filter = $(this).data('filter');

			$("#filters li").removeClass("active");
			$(this).parent().addClass("active");
		  return $.ajax({
	      type: "GET",
	      url: "/home/leader_board",
		    data:{ filter: filter },
		    dataType: "script"
		  });
		});

	});
</script>