<div class="testimonial_item col-md-4">
  <div class="item_inner">
   <div class="foot_sec">
    <div class="foot_inner">
     <div class="img"> <img src="/assets/dummy-img.png" ></div>
     <div class="content">
      <p><%=user_review.user.full_name%></p>
      <span></span></div>
    </div>
   </div>
   <div class="desc">
    <p><%=user_review.message%></p>
   </div>
  </div>
</div>