<% @plan.each do |plan|%>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= plan.name%>
            </h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <%= t("Amount") %> - <%= (plan.amount)/100.0 %> $
                </td>
              </tr>
              <tr class="active">
                <td>
                  <%= t("Currency") %> - <%= plan.currency %>
                </td>
              </tr>
            </table>
          </div>
          <div class="panel-footer">
          <% if !current_user.stripe_subscription_id.present? %>
            <%= link_to t("Subscribe"), new_subscription_path(plan_id: plan.id) , class: "btn btn-success" %>
          <%else%>
            <span class="color"><%= t("Already Subscribed") %> </span> 
          <% end %>  
            </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
