<div class="payment_form">
  <p>You Need to subscribe your account.</p>

  <%= form_tag subscriptions_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount" style="margin: 10px 0;">
        <span>Amount: <%= @amount %></span>
      </label>
    </article>

    <%= hidden_field_tag :plan_id,  params[:plan_id] %>

    <%= hidden_field_tag :subscription, value: params[:subscription] %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
            data-description="<%= @description %>"
            data-amount="<%= (@amount*100) %>"
            data-email="<%= current_user.email %>"
            data-bitcoin="true"
            data-locale="auto"></script>
  <% end %>
</div>