<div class="form-center">
  <h2><%= t('.Log In') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Enter Email' %>
    </div>


    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password'  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me%>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t(".Log In"), class: 'btn btn-success' %>
    </div>
  <% end %>
  <p>
    <%= render "devise/shared/links" %>
  </p>
</div>
