<%= form_for (@feedback), :url => feedbacks_path(@feedback, @question), method: :post, remote: true do |f| %>
  <div class="modal-body">
  	<h4 id="error_explanation" style="display:none;">
      <ul class="errors text-danger" style="display:none;"></ul>
    </h4>
    <div class="check_text">
    	<%= t(".Please check the box with the mistake or typo and provide an explanation in the form below") %>. 
      <%= t(".Leave your email address") %>.
    </div>
    <strong><%= t(".Questions")%>:</strong>
    <p class="check_text"><%= check_box_tag 'feedback[question_id]', @question.id %><%= @question.title %></p>
    
    <strong><%= t(".Answers")%>:</strong>
    <% @answers.each do |answer| %>
    <p class="check_text"><%= check_box_tag "feedback[answer_ids][]", answer.id, false %><%= answer.title %></p>
    <% end %>
    <p class="check_text"><%= t(".Please describe what is wrong with the sentence you have ticked") %>:</p> 
    <div class="form-group">
      <div class="col-md-12">
        <label><%= t(".Description")%></label>
        <%= f.text_area :description, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <label><%= t(".Username")%></label>
        <%= f.text_field :user_name, class: "form-control", required: true %>
      </div>
      <div class="col-md-6" style="margin: 0 0 0 2%;">
        <label><%= t(".Email")%></label>
        <%= f.email_field :email, class: "form-control", required: true %>
    	</div>
    </div>
	  <div class="modal-footer">
  		<button class="btn btn-default" data-dismiss="modal" type="button"><%= t(".Close") %></button>
  		<%= f.submit t('.Save'),  class: 'btn btn-primary-me' %>
	  </div>  
<%end%>

<style type="text/css">
.modal-body {
	background: #f0f0f0;
	border: 1px solid #fff;
}
.form-group {
	font-size: 13px;
	line-height: 19px;
	color: #555;
	margin: 0;
}
.form-group label {
	margin: 8px 0 2px;
}
.modal-body .form-group .col-md-12 {
	padding: 0; 
}
.modal-body .form-group .col-md-6 {
	padding: 0;
	width: 49%; 
}
.check_text {
	margin: 8px 0 5px;
	overflow: hidden;
	font-size: 13px;
	line-height: 19px;
	color: #555;
}
.check_text input[type="checkbox"] {
	float: left;
	margin: 0 10px 0 0;
}
.modal-footer {
	overflow: hidden;
}
.modal-footer input {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.modal-body .form-group input, .modal-body .form-group textarea {
	box-shadow: inset #7bbdfe 0px 0px 7px;
}



</style>