<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true"> x </span>
      </button>
      <h4 class="modal-title"><%= t(".Found a mistake? Let us know!") %></h4>
    </div>
    <%= render 'form' %>
  </div>
</div>

<style type="text/css">
.modal-title {
  text-align: center;
  font-size: 25px;
	line-height: 37px;
	color: #555;
	font-weight: bold;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
.modal-header {	
	background: #f0f0f0;
}
</style>