$("ul.errors").html("")
$("h4#error_explanation").html("")
<% if @feedback.errors.any? %>
  $("ul.errors").show()
  $("h4#error_explanation").show()
  $("h4#error_explanation").html("<%= pluralize(@feedback.errors.count, 'Error') %> Occurred")
  <% @feedback.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
	$("#feedback-modal").modal("hide")
	$("#message").show();
	$("#message").text('Thank you, your message has been sent! We will get back to you shortly.');
	$("#message").slideDown().delay(3000).slideUp(500);
<%end%>

