@charset "UTF-8";
/* !HTML5 ELEMENTS
---------------------------------------------------------- */
header, footer, nav, section, aside, article {
    display: block;
}
/* !Reseting
---------------------------------------------------------- */
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td {
    margin: 0;
    padding: 0;
}
input, textarea {
    margin: 0;
    font-size: 100%;
}
label {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}
fieldset, img {
    border: 0;
}
img {
    vertical-align: top;
    max-width: 100%;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:after, q:before {
    content: '';
}
a, input { /* outline: none; */
}
abbr, acronym {
    border: 0;
}
a {
    text-decoration: none;
    transition: all 0.5s !important;
    -moz-transition: all 0.5s !important; /* Firefox */
    -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
a:hover {
    text-decoration: underline;
    transition: all 0.5s !important;
    -moz-transition: all 0.5s !important; /* Firefox */
    -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
.op img, .op input {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.op:hover img, .op:hover input {
    opacity: .7;
    -webkit-opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity=70);	/* IE lt 8 */
    -ms-filter: "alpha(opacity=70)"; /* IE 8 */
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
/* !Clearfix
---------------------------------------------------------- */
.clearfix {
    display: block;
    min-height: 1%;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.visiblePC {
    display: block;
}
.visibleTS {
    display: none;
}
@media screen and (max-width: 959px) {
    .visibleTS {
        display: block;
    }
    .visiblePC {
        display: none;
    }
}
/* !Layout
---------------------------------------------------------- */
html {
    overflow-y: scroll;
}
@media print {
    html, html body {
        *zoom: 0.65;
    }
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
}
/* !header
---------------------------------------------------------- */
#header {
    background:#3E75FA;
    position: relative;
    padding: 10px 0;
    box-shadow: none;
    border: none;
}
#headerIn {
    max-width: 950px;
    margin: 0 auto;
    box-sizing: border-box;
}
#headerLogo {
    float: left;
}
#headerLogo a {
    color: #fff !important;
    text-transform:uppercase;
    transition: all 0.4s;
    font-size: 4rem;
}
#headerLogo a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
}
#headerLinks {
    float: right;
}
.navbarToggle {
    cursor: pointer;
}
@media screen and (max-width: 959px) {
    #headerIn {
        padding: 0 10px;
    }
}
@media screen and (max-width: 767px) {
    .navbarToggle img {
        width: 50px;
    }
}
.header-links {
    padding: 10px;
    overflow: hidden;
}
.header-links a {
    float: right;
    cursor: pointer;
    display: inline-block;
    color: #000;
    margin: 4px 10px 0 0;
    text-decoration:  none;
    border-radius: 6px;
}
.header-links a:hover {
    color: #3E75FA;
}
/* !gNavi
---------------------------------------------------------- */
#gNavi {
    float:right;
}
#gNavi ul {
    margin: 10px 0 0 0;
}
#gNavi li {
    position: relative;
    display: inline-block;
    padding: 9px 9px 11px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.5s;
}
#gNavi li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
}
#gNavi li:hover/* #gNavi li.selected a*/ {
    background: #fff;
}
#gNavi li:hover a/* #gNavi li.selected a*/ {
    color: #3E75FA;
    text-shadow: none;
}
#slider-outer {
    background: #3E75FA;
}
#mainimg {
    max-width: 1100px;
    margin: 0 auto 30px;
}
/* !teaser
---------------------------------------------------------- */
#main {

}
@media screen and (max-width: 959px) {
}
/* !
-----------------------------------------------------------*/
#side {
}
@media screen and (max-width: 959px) {
}
/* !pageTop
---------------------------------------------------------- */
.pageTop {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 9999;
    text-align: center;
}
@media screen and (max-width: 959px) {
    .pageTop {
    }
}
/* !footer
---------------------------------------------------------- */
#footer {
}
#copyright {
}
@media screen and (max-width: 959px) {
    #footer {

    }
    #copyright {

    }
}
/* !h(n)eading
---------------------------------------------------------- */
.h1Basic {
}
.h2Basic {
}
.h3Basic {
}
.h4Basic {
}
.h5Basic {
}
.h6Basic {
}
/* !Section
---------------------------------------------------------- */
.section {
}
.hide {
    display: none !important;
}

/*-- Space-Class --*/

[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden
}

.space-10 {
    height: 10px;
}

.space-20 {
    height: 20px;
}

.space-30 {
    height: 30px;
}

.space-40 {
    height: 40px;
}

.space-50 {
    height: 50px;
}

.space-60 {
    height: 60px;
}

.space-70 {
    height: 70px;
}

.space-80 {
    height: 80px;
}

.space-90 {
    height: 90px;
}

.space-100 {
    height: 100px;
}