

#headerLogo a {
    color: #fff !important;
    text-transform: uppercase;
    transition: all 0.4s;
    font-size: 3.5rem !important;
}

.testimonials {
    background: #f7f8fa;
    padding: 90px 0px;
}

.testimonials .testimonial_wrapper .testimonial_item {
    padding: 0 25px;
    float: left;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner {
    background: #ffffff;
    box-shadow: 0 10px 25px 0 rgba(50, 50, 93, 0.03);
    border-radius: 4px;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .foot_sec .foot_inner {
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: #f7fcfe;
    padding: 20px 30px;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .foot_sec .img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .foot_sec .content {
    margin-left: 15px;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .desc {
    padding: 30px;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .desc p {
    line-height: 27px;
    font-size: 16px;
    color: #4f5d6b;
}

.testimonials .testimonial_wrapper .testimonial_item .item_inner .foot_sec .content p {
    font-weight: 600;
    font-size: 16px;
}

.testimonials .row+.row {
    margin-top: 50px;
}

.section_heading {
    font-size: 16px;
    color: #4f5d6b;
    text-align: center;
    margin-bottom: 60px;
}

.section_heading h2 {
    margin-bottom: 5px;
}
.menu li a:focus {
    outline: none;
}

a.menu-link {
    color: #000;
    display: block;
    text-decoration: none;
}

.menu-link span {
    border-bottom: solid 3px #000;
    border-top: double 10px #000;
    display: inline-block;
    height: 4px;
    margin: 0 5px -3px 0;
    width: 30px;
}

.menu-link:hover span {
    border-color: #666;
}

.menu.active {
    background: #f9f9f9;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    margin: 1em 0 1em -12px;
    max-height: 55em;
    width: 100vw;
}

.js .menu>ul ul.active {
    margin: 0;
    max-height: 55em;
    padding: 0;
}

.menu>ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0;
    position: relative;
    height: 32px;
}

.menu li a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

span.has-subnav {
    display: block;
    font-size: 1em;
    line-height: 2.5em;
    position: absolute;
    right: 0px;
    width: 100%;
    padding: 0 0.5em;
    top: 0;
    text-align: right;
}

/****************************************************************************/

@media screen and (max-width:800px) {
    .menu,
    .menu>ul ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }
    .menu li a {
        border-bottom: 1px solid #d8d8d8;
        display: block;
        padding-left: 15px;
    }
    .menu li li a {
        padding-left: 50px;
    }
    .menu li:last-child a {
        border: none;
    }
    .menu li li:last-child a {
        border-bottom: 1px solid #d8d8d8;
    }
    .menu li:hover {
        background: #EDEDED;
    }
}

@media screen and (min-width: 801px) {
    a.menu-link {
        display: none;
    }
    .js .menu,
    .js .menu>ul ul {
        max-height: none;
        overflow: visible;
    }
    /*.js .menu > ul li:hover > ul { display: flex; }*/
    .menu ul {
        display: flex;
        flex-flow: row;
        height: 44px;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .menu span.has-subnav {
        display: none;
    }
    .menu li a:hover {
        color: rgb(164, 208, 94);
    }
    .menu li li a:hover {
        background: rgba(164, 208, 94, 0.1);
        color: #000;
    }
    .menu ul ul {
        background: #fff;
        display: none;
        height: auto;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: left;
        top: 100% !important;
        left: 0;
        width: 150px;
        z-index: 999;
    }
    .chrome .js .menu>ul ul {
        top: 43px;
    }
    .menu ul ul.wide {
        width: 300px;
        margin: 0 !important;
    }
    .menu ul ul li {
        border-bottom: solid 1px rgba(164, 208, 94, 0.5);
        display: inline-block;
        position: relative;
    }
    .menu>ul ul li:last-child {
        border-bottom: none;
    }
    .menu ul ul li a {
        display: block;
        padding-left: 10px;
        color: #000;
    }
}

@media (max-width:1080px) {
    html .test-model {
        padding: 0px 20px;
    }
    .testimonials .testimonial_wrapper .testimonial_item {
        padding: 0px 15px;
    }
    .testimonials .testimonial_wrapper .testimonial_item .item_inner .desc {
        padding: 20px;
    }
}

@media (max-width:990px) {
    html .question_bar {
        font-size: 23px;
        line-height: 30px !important;
    }
    html .theory-fact h3 {
        display: inline-block;
        width: 100%;
    }
    .visiblePC {
        display: block;
    }
    .testimonials {
        padding: 40px 0px 20px;
    }
    .testimonials .row+.row {
        margin-top: 10px;
    }
    .testimonials .testimonial_wrapper .testimonial_item {
        margin-bottom: 35px;
    }
}

@media (max-width:900px) {
    html .question-img {
        width: 250px;
    }
}

@media (max-width:854px) {
    #headerLogo {
        padding-top: 5px;
    }
    #headerLogo a {
        font-size: 35px;
    }
    #gNavi li {
        font-size: 13px;
    }
    html .theory-text h1 {
        font-size: 28px;
    }
}

@media (max-width:800px) {
    .menu.active {
        width: 100%;
    }
    #gNavi ul {
        margin: 0px;
    }
    #gNavi li {
        padding: 0px;
    }
    .menu li {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    a.menu-link {
        position: absolute;
        right: 15px;
        top: 25px;
    }
    .menu-link span {
        height: 18px;
    }
    #gNavi li a {
        color: #000;
        font-size: 15px;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
    }
}

@media (max-width:767px) {
    html .question_bar {
        border-left: none;
        padding: 0px;
    }
    html .right-test-side {
        width: 100%;
    }
    .fact-theory {
        display: inline-block;
        width: 100%;
    }
    html .left-test-side {
        width: 100%;
        margin-bottom: 20px;
    }
    html .left-licence {
        width: 100%;
    }
    html .right-licence {
        width: 100%;
    }
    .test-topic ul li {
        width: 100%;
    }
}

@media (max-width:720px) {
    html .uk-heading,
    html .get-ready {
        font-size: 22px;
        text-align: center;
    }
    html .theory-text h1 {
        font-size: 22px;
    }
}

@media (max-width:568px) {
    html .question-img {
        margin-bottom: 20px;
        height: auto;
        width: 100%;
    }
    html .right-licence ul li div {
        border-left: none;
    }
    html .theory-text div {
        font-size: 17px;
    }
    html .three-item ul li a {
        height: 170px;
    }
    html .three-item ul li {
        width: 100%;
    }
}

@media (max-width:480px) {
    html body .answer-animation label span {
        left: 10px;
    }
    html .answer-animation label {
        padding: 11px 10px 11px 39px !important;
        font-size: 13px;
    }
    html body .theory-image img {
        position: relative;
        left: 0px;
        margin: 0px;
        padding: 0px 15px;
    }
    .next-button {
        margin-top: 20px;
    }
    html .theory-fact {
        padding: 0px;
    }
    html .theory-text h1 {
        padding-top: 80px;
    }
    html .theory-link a {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width:360px) {
    html body .answer-animation label {
        line-height: 18px !important;
    }
    html body .correct-answer,
    html body .wrong-answer {
        height: 54px !important;
    }
    html body .theory-link a {
        font-size: 14px;
    }
    html .three-item ul li a {
        height: 150px;
    }
}

.edit-form-h2 {
    color: inherit;
}
/*.dropdownLanguage
{
    height: 96px !important; 
    padding-top: 0px !important; 
    margin-top: 10px !important; 
    padding-bottom: 0px !important; 
    margin-bottom: 0px !important;

    position: absolute;
    width: 120px;
    text-align: center;
    left: 0;
    top: 73%;
    background: #fff;
    z-index: 99999;
    margin: 10px 0 0 -18px !important;
    border-radius: 10px;
}

.dropdownLanguage li:hover{
    height: 96px !important; padding-top: 0px !important; margin-top: 10px !important; padding-bottom: 0px !important; margin-bottom: 0px !important;
}
*/

