.inner-test-userboard {
	margin: 0 auto;
	max-width: 1024px;
	box-sizing: border-box;
}
.marg-top {
	margin: 20px 0 !important;
}
#filters {
	text-align: center;
	padding: 8px 0;
}
#filters li {
	color: #242020;
	padding: 6px 15px;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	background: #fff;
}
.leader-users {
	font-family: sans-serif;
	background: #2B2B2B;
	padding: 5px;
}
.leader-users-btns {
	background: #2B2B2B;
	margin: 1px 0 10px;
	padding: 10px;
	color: #fff;
}
.leader-users-btns ul li {
	background: #222222;
	margin: 0 0 5px;
}
.rank-number {
	font-size: 35px;
	line-height: 50px;
	float: left;
	width: 14%;
	background: #1B1B1B;
	text-align: center;
	padding: 8px 0 6px;
}
.ranker-detail {
	float: left;
	width: 86%;
}
.ranker-name {
	padding: 8px 15px 6px;
}
.ranker-image {
	width: 46px;
	height: 46px;
	float: left;
	background: #FF4343;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0 15px 0 0;
}
.ranker-name {
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	float: left;
	width: 50%;
}
.ranker-ranks-point {
	text-align: right;
	padding: 8px 0 6px;
	float: left;
	width: 50%;
}
.ranker-ranks-point span {
	line-height: 50px;
	display: inline-block;
	font-size: 20px;
	margin: 0 10px;
}
#filters .active {
	background: #3E75FA;
	color: white;
}

@media screen and (max-width: 767px){
	.rank-number,
	.ranker-detail {
		width: 100%;
	}
	.ranker-name {
		width: 60%;
		font-size: 20px;
	}
	.ranker-ranks-point {
		width: 40%;
	}
}
@media screen and (max-width: 540px){
	.rank-number {
		padding: 0;
		font-size: 30px;
		line-height: 40px;
	}
	.ranker-name {
    padding: 8px 15px 0px;
	}
	.ranker-ranks-point {
		padding: 0px 0 6px;
	}
	.ranker-ranks-point span {
    line-height: 35px;
    font-size: 16px;
  }
	.ranker-name, .ranker-ranks-point {
		width: 100%;
		text-align: center;
	}
	.ranker-image {
		float: none;
	}
}