@charset "utf-8";
a {
    text-decoration: none !important;
}
.theory-text {
    text-align: center;
    background: #3E75FA url(city-right.png) no-repeat scroll right 0 bottom 0;
    width: 100% !important;
    color: #fff;
    padding: 0 !important;
    position: relative;
}
.theory-text .row {
    margin: 0;
    padding: 0;
}
.theory-text h1 {
    margin: 0;
    font: 800 37px/40px museo-sans-rounded,sans-serif;
    padding: 144px 0 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0;
}
.theory-text div {
    font-size: 24px;
    padding: 0;
}
.theory-link {
    margin: 0 0 50px;
}
.theory-link a {
    display: inline-block;
    background: white;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 35px;
    padding: 14px 45px;
    color: #222;
    font-size: 22px;
    font-family: museo-sans-rounded,sans-serif;
    transition: all 0.4s;
}
.theory-link a:hover {
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.theory-image {
    position: relative;
    margin: 0;
    height:182px;
    text-align: center;
}
.theory-image img {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -200px;
    z-index: 9;
}
.border-trangle {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}
.border-trangle span {
    display: block;
    margin: 0;
    width: 100%;
    height:70px;
    border-bottom: 70px solid #fff;
    border-left: 1296px solid transparent;
}
.start-test-theory {
    background: #f5f5f5;
    padding: 85px 0 30px 0;
    margin: 0 0 0 0;
}
.inner-test-theory {
    margin: 0 auto;
    max-width: 920px;
    padding:0 20px;
    box-sizing: border-box;
}
.get-ready {
    margin: 0px 0 20px;
    color: #333;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0;
    text-shadow: none;
}
.test-topic {
    padding: 0 10px;
}
.test-topic ul {
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: 0 0 30px;
}
.test-topic ul li {
    float: left;
}
.test-topic ul li a {
    padding: 8px 22px;
    display: block;
    margin-right: 4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #7d7d7d;
    outline: 0 !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    border-radius: 4px 4px 0 0;
    transition: all 0.1s;
}
.test-topic ul li a:hover, .active-text {
    color: #555 !important;
}
.border-bar {
    position: absolute;
    float: none;
    background: #409eff;
    border-radius: 15px;
    height: 5px;
    width: 160px;
    left: 0;
    bottom: -2px;
    transition: all 0.4s;
}
.three-item ul,.two-item ul,.one-item ul {
    margin: 0;
}
.three-item ul li {
    float: left;
    font-size: 13px;
    width: 31.1%;
    margin: 0 1.1% 20px;
    transition: all 0.4s;
    transform: translate(0,0);
    background: #fff;
}
.two-item ul li {
    float: left;
    font-size: 13px;
    width: 47.8%;
    margin: 0 1.1% 20px;
    transition: all 0.4s;
    transform: translate(0,0);
    background: #fff;
}
.one-item ul li {
    font-size: 13px;
    width: 97.8%;
    margin: 0 1.1% 20px;
    transition: all 0.4s;
    transform: translate(0,0);
    background: #fff;
}
.three-item ul li:hover, .two-item ul li:hover, .one-item ul li:hover {
    box-shadow: 14px 14px 30px -4px rgba(124,141,169,.3);
    transform: translate(0,-5px);
    text-decoration: none;
}
.three-item ul li a, .two-item ul li a, .one-item ul li a {
    background: #FFFFFF;
    border-radius: 4px;
    margin: 0;
    display: block;
    font-size: 13px;
    height: 170px;
}

.three-item ul li a .heading, .two-item ul li a .heading, .one-item ul li a .heading {
    padding: 20px 20px 10px;
}

.three-item ul li a .heading p, .two-item ul li a .heading p, .one-item ul li a .heading p {
    color: #409eff;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.three-item ul li a .heading span, .two-item ul li a .heading span, .one-item ul li a .heading span {
    float: right;
    display: inline-block;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    padding: 5px 6px;
    color: #A5A5A5;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 4px;
}
.three-item ul li a .content, .two-item ul li a .content, .one-item ul li a .content {
    color: #000;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 20px 0px 20px;
    position: relative;
}
/*
====================================*/
.test-model {
    max-width: 1080px;
    margin: 20px auto;
}
.left-test-side {
    float: left;
    width: 31%;
}
.down-arrow {
    font-size: 16px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: none;
    text-align: center;
    color: #333;
    margin: 15px 10px 10px;
}
.progress-rank {
    background: #EDF1FB;
    margin: 0 0 14px;
}
.progress-rank li {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 12.5%;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    color: #000;
    text-shadow: #fff 0 1px 0;
}
.progress-rank .current {
    background-color: #edf1fb;
    cursor: pointer;
}
.correct-green{
    background-color: #6c9f19 !important;
    color: #fff;
    transform: rotateY(360deg);
    transition: all 0.8s;
}
.incorrect-red{
    background-color: #d60000 !important;
    color: #fff;
    transform: rotateY(360deg);
    transition: all 0.8s;
}
.on-current{
    background-color: #ffcc00 !important;
    color: #fff;
}
.correct-ans {
    color: #166b80;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 12px;
    font-weight: bold;
}
.reset-test {
    padding: 4px 14px;
    font-size: 14px;
    width: 100%;
    color: #333;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-top-color: rgb(187, 187, 187);
    border-right-color: rgb(187, 187, 187);
    border-bottom-color: rgb(187, 187, 187);
    border-left-color: rgb(187, 187, 187);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.change-bank {
    margin: 0;
}
.change-bank a {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 10px;
    background: linear-gradient(#5CB95C, #52A552);
    border-color: #51a351 #51a351 #387038;
    border-radius: 4px;
    margin: 5px 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.change-bank a:hover {
    text-decoration: none;
}
.right-test-side {
    float: right;
    width: 67.5%;
}
.page-title {
    margin: 0 0 5px;
    color: #60a11f;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
}
.test-detail {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lucida Grande", WebLucidaGrande, "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #6e6e6e;
}
.test-detail img {
    float: right;
    margin: 0 0 0 10px;
}
.more-about-test a {
    margin: 4px 0 0 0;
    display: block;
    padding: 2px 10px;
    text-align: center;
    color: #bdbdbd;
    background: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}
.more-about-test a:hover {
    color: #bdbdbd;
}
.answer-animation {
    position: relative;
    margin: 0 0 8px;
    height: 46px;
}
.fact-theory {
    max-width: 1080px;
    margin: 20px auto 0;
}
.answer-animation label {
    background: url(right.png) no-repeat scroll right 8px center;
    display: block;
    font-size: 17px;
    line-height: 24px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    position: relative;
    background-size: 1px 170px;
    padding: 10px 50px !important;
}
.answer-animation label span {
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    left: 20px;
    top: 50%;
    float: left;
    height: 22px;
    margin: -10px 0 0 0;
    width: 22px;
    border: 1px solid #54a4e8;
    transition: border-width .2s ease-out;
}
.answer-animation label:hover span, .add-right-ans {
    border: 8px solid #54a4e8;
}

/*=================================*/
.correct-answer {
    background: #58A819 url(right.png) no-repeat scroll right 8px center !important;
    color: #fff !important;
    text-shadow: none !important;
    transition: all 1s ease !important;
    animation: slide-right 0.5s forwards;
    position: absolute !important;
    height: 46px;
    width: 0;
    left: 0;
    top: 0;
    padding: 10px 50px !important;
}
@keyframes slide-right {
    0% {
        width: 0;
        padding: 11px 55px;
    }
    100%{
        width: 100%;
        padding: 11px  55px;
    }
}
.correct-answer:focus {
    background-position: left bottom;
}

.correct-answer span, .wrong-answer span {
    background: #fff !important;
}
.wrong-answer {
    background: #EA6A34 url(close.png) no-repeat scroll right 8px center !important;
    color: #fff !important;
    text-shadow: none !important;
    transition: all 1s ease !important;
    animation: slide-left 0.5s forwards;
    position: absolute !important;
    height: 46px;
    width: 100%;
    right: 0;
    padding: 10px 50px !important;
    top: 0;
}
@keyframes slide-left {
    0% {
        width: 0%;
        padding: 11px 55px;
    }
    100%{
        width: 100%;
        padding: 11px 55px;
    }
}
.wrong-answer span {
    border: 8px solid #54a4e8 !important;
}
.disabled {
    cursor: none;
    pointer-events: none;
    opacity: 1;
}
.np-buttons {
    overflow: hidden;
    margin: 20px 0;
}
#hint {
    background: #efefef;
    border: 1px solid #d3d3d3;
    padding: 10px;
    cursor: text;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    text-shadow: #fff 0 1px 0;
    border-left: #33BC06 solid 6px;
    margin: 0 0 10px;
    display: none;
}
.next-button {
    margin:  15px 0 10px;
}
.next-button a {
    display: inline-block;
    transition: all 0.4s;
    padding: 0px 10px 0px 15px;
    color: #5a5a5a;
    border: 2px solid #C0C0C0;
    height: 30px;
    line-height: 27px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
}
.next-button a .fa {
    font-size: 9px;
    height: 15px;
    line-height: 14px;
    width: 15px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #C0C0C0;
    color: #fff;
    background: #c0c0c0;
    transition: all 0.4s;
    margin: 4.7% 0 0 6px;
    float: right;
}
.next-button a:hover {;
    color: #2281BF;
    border: 2px solid #2281BF;
}
.next-button a:hover .fa {
    background: #2281BF;
}





.previous-button {
    float: left;
}
.previous-button a {
    background: url(previous1.png) no-repeat scroll center / 126px 30px;
    display: inline-block;
    height: 30px;
    width: 126px;
    transition: all 0.4s;
}
.previous-button a:hover {
    background: url(previous2.png) no-repeat scroll center / 126px 30px;
}
/*==========================*/
.hint {
    margin: 10px 0;
}
.hint a {
    font: 14px/14px Georgia,sans-serif;
    font-family: Georgia, sans-serif;
    color: #777;
    margin: 10px 0 0 0;
}
.hint a:hover {
    color: #000;
    text-decoration: none;
}
.addthis_inline_share_toolbox {
    margin: 10px 0 5px 0;
}
.progress-bar-increase {
    background: #f7f7f7;
    height: 4px;
}
.question_bar {
    font-size: 29px;
    color: #000;
    position: relative;
    margin: 10px 0;
    line-height: 32px!important;
    text-align: left;
    border-left: #55D4ff solid 6px;
    padding: 10px 0 10px 15px;
    overflow: hidden;
}

.easy{
    color: #a5a5a5 !important;
}

.hard{
    color: #a5a5a5 !important;
}

.incomplete{
    background: #FCFCA6;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 9px !important;
}

.incomplete-text {
    background: #FCFCA6;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    padding: 33px 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.incomplete-text span {
    margin: 0;
    color: #505050;
    display: inline-block;
    padding: 2px 10px;
    margin: 5px 0 0 0;
    border: 1px solid #505050;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.4s;
}
.incomplete-text span:hover {
    border: 1px solid #000;
    color: #000;
}
.overflow-text {
    overflow: hidden;
    height: 104px;
}
button {
    background-image: none !important;
    text-shadow: none !important;
    transition: all 0.4s;
}
.static_content{
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    color: #525f7f;
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.change-bank {
    position: relative;
}
.change-bank-count {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #FFFF00;
    color: #000;
    text-align: center;
    padding: 0 4px;
    width: 20px;
    font-size: 11px;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    font-weight: bold;
    line-height: 20px;
    float: right;
    z-index: 9;
}

.plus-count {
    position: absolute;
    right: 9px !important;
    bottom: 2px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    color: #000;
    transition: all 1s;
}
.form-center{
    max-width: 320px;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 0 4px -2px #000;
    border-radius: 6px;
    margin: 50px auto 0;
}

.form-center h2 {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.form-center .actions {
    text-align: center;
    margin: 0 0 10px;
}
.form-center p {
    text-align: center;
}
.form-center p a {
    display: inline-block;
    margin: 6px 0;
}
/*for result page*/

.graph-chart {
    max-width: 1080px;
    margin: 0 auto;
}
.graph-chart h1 {
    width: 100%;
    font-weight: 300;
    font-size: 58px;
    line-height: 58px;
    letter-spacing: 0;
    margin: 25px 0 0 0;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
    display: block;
    text-align: center;
    text-shadow: #FFF 0 1px 0;
    padding-top: 0;
    padding-bottom: 5px!important;
    letter-spacing: 0;
    color: #ed6c1b;
}
.back_links{
    text-align: center;
    margin:  15px 0 0 0;
}
.back_links li {
    text-align: center;
    display: inline-block;
}
.back_links li:nth-child(2), .back_links li:nth-child(4) {
    color: #aaa;
    line-height: 64px;
    font-size: 24px;
}
.back_links li a {
    text-align: center;
    padding: 15px;
    display: inline-block;
    color: #ff9800;
    font-size: 24px;
}
.chart {
    position: relative;
    width: 350px;
    height: 350px;
    top: 0;
    left: 0;
    margin: 30px auto 0;
}
.total_rights, .total_wrongs {
    font-size: 11px;
    color: #666;
    line-height: 14px;
    fill: #666;
    font-weight: bold;
}
.add-margin-top {
    margin: 350px 0 0 0;
}
.total_rights {
    position: absolute;
    right: -71px;
    height: 30px;
    line-height: 20px;
    top: 40px;
}
.total_rights img {
    margin: 6px 10px 0 0;
}
.total_wrongs {
    position: absolute;
    left: -78px;
    height: 40px;
    line-height: 40px;
    bottom: 40px;
}
.total_wrongs img {
    margin: 6px 0 0 10px;
}
.doughnutTip {
    position: absolute;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 15px;
    border-radius: 1px;
    color: #000;
    font-size: 17px;
    text-shadow: 0 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    pointer-events: none;
}
.doughnutSummary {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    text-align: center;
}
.doughnutSummaryNumber {
    position: absolute;
    font-family: Arial;
    font-size: 64px;
    line-height: 64px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -50%;
    width: 100%;
}
.doughnutSummaryTitle {
    position: absolute;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(34, 34, 34);
    text-align: center;
    top: 88%;
    left: 50%;
    margin: -25% 0 0 -50%;
    width: 100%;
}

.chart path:hover { opacity: 0.65; }


.payment_form{
    text-align: center;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 4px -1px black;
}

.panel
{
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px auto;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}
.panel-body table{
    margin: 0;
}
.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 20px;
}
.color{
    color: blue;
}
.dropdownLanguage {
    display: none;
    position: absolute;
    width: 120px;
    text-align: center;
    left: 0;
    top: 73%;
    background: #fff;
    z-index: 99999;
    margin: 10px 0 0 -18px !important;
    border-radius: 10px;
}
.dropdownLanguage li {
    display: block !important;
    padding: 0 9px 0 !important;
}
.dropdownLanguage li a {
    display: block !important;
    padding: 9px 0 !important;
}
.pageTop img {
    width: 30px;
}
.theory-fact {
    margin: 40px 0 0;
}
.theory-fact h3 {
    border-top: 6px solid #eee;
    display: block;
    padding: 20px 10px;
    font-size: 19px;
    line-height: 1.15;
    font-weight: 500;
    color: #333;
}
.theory-fact table {
    width: 100%;
}
.theory-fact table tr {
    background-color: #fff;
    border-bottom: 1px solid rgba(108,126,146,.19);
}
.theory-fact table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
}
.theory-fact table td img {
    margin: 4px 5px 0;
    color: #8ca9e5;
    width: 9px;
    height: 9px;
    display: inline-block;
    position: relative;
}

.theory-fact table td span {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge-warning {
    background-color: #f89406 !important;
}
.badge-success {
    background-color: #468847 !important;
}
.badge-info {
    background-color: #3a87ad !important;
}
.uk-heading {
    text-align-last: center;
    margin:  50px 0 20px;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #555;
}
.driving_licence {
    margin: 0 0 0 0;
    background: #F9F9F9;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
}
.left-licence {
    float: left;
    width: 22%;
    padding: 13px 0 13px 13px;
}
.left-licence p {
    margin-bottom: 10px;
    color: #333;
    text-shadow: 1px 1px 1px white;
    font: 800 20px/22px museo-sans-rounded,sans-serif;
    text-align: left;
}
.left-licence ul li {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: block;
    cursor: pointer;
    line-height: 21px;
    padding: 0 0 0 10px;
    overflow: hidden;
    height: 23px;
    white-space: nowrap;
}
.active_bg {
    background: url("/assets/bgarrow.png") no-repeat 0 0 / 180px;
    color: #fff !important;
}
.left-licence ul li a:hover {
    color: #333;
}
.right-licence {
    float: right;
    width: 77%;
    padding: 13px;
    background: #fff;
}
.question-heading {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0 0 5px;
    color: #666;
    overflow: hidden;
}
.expand-text{
    float: right;
    cursor: pointer;
    font-size: 11px;
    transition: all 0.1s;
    font-weight: normal;
    color: #409eff;
}
.expand-text:hover {
    color: #676666 !important;
}
.right-licence ul li h3 {
    cursor: pointer;
    font-weight: normal;
    min-height: 17px;
    color: #555;
    font: 11px/16px museo-sans-rounded,sans-serif !important;
    background: #e9f3fd;
    padding: 4px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    letter-spacing: 0.2px;
}
.right-licence ul li h3 img {
    margin: 2px 8px 0 2px;
}
.right-licence ul li div {
    float: none;
    padding: 10px 30px 10px 25px !important;
    line-height: 18px;
    text-indent: 0;
    border-bottom: 1px solid #ddd;
    border-left: 22px solid #f9f9f9;
    font-size: 12px;
}

#copyright {
    border-top: 1px solid #eaeaea;
    text-align: center;
    margin: 30px 0 10px;
    padding: 10px 0 0 0;
}
/*.flash {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 9;
  text-transform: uppercase;
  text-align: center;
}*/
.question-img {
    float: right;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}

.alert{
    padding: 10px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*-------------------------------------- Price-area -----------------------------------*/


.bttn-white {
    position: relative;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
}

.bttn-white img {
    height: 20px;
    margin-right: 5px;
    margin-top: -5px;
    display: inline-block;
}



.bttn-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.bttn-white.active,
.bttn-white:hover {
    color: #ffffff;
}

.bttn-white.active:before,
.bttn-white:hover:before {
    opacity: 0;
}

.bttn-default,
.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #768ede;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.bttn-default .lnr,
.bttn-white .lnr {
    margin-right: 10px;
}


.bttn-default {
    padding: 12px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.bttn-default:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sq {
    border-radius: 3px !important;
}


.section-padding-top {
    padding-top: 120px;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.upper {
    text-transform: uppercase;
}

.dark-color {
    color: #434345
}

.blue-color {
    color: #5e88fc;
}

.white-color {
    color: #ffffff !important;
}

.gray-bg {
    background-color: #f5f6ff;
}



.page-title .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8790af;
    font-weight: 600;
}

.text-center.page-title .title:before,
.page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}
.page-title h3 {
    font-size: 32px;
}

.price-area {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #8790af;
}

.price-box {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    color: #8790af;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box:hover {
    -webkit-box-shadow: 0 0 50px -15px #4d43c6;
    box-shadow: 0 0 50px -15px #4d43c6;
}

.price-box .price-header {
    background-color: #f2f3fc;
    padding: 40px;
    color: #768ede;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box .price-header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f3fc;
    z-index: -1;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box:hover .price-header {
    color: #ffffff;
}

.price-box:hover .price-header:before {
    opacity: 0;
}


.price-box .price-header .price-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.price-box .price-header h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
}

.price-box .price-body {
    padding: 40px;
}

.price-box .price-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-box .price-rate {
    color: #768ede;
    margin-bottom: 40px;
    font-size: 20px;
}

.price-box .price-rate sup {
    top: -20px;
    font-size: 26px;
}

.price-box .price-rate .rate {
    font-size: 56px;
}

.price-box .price-footer {
    margin-bottom: 40px;
}

.price-box .price-footer .bttn-white {
    padding: 13px 50px;
}

.price-box .price-footer .bttn-white:before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100px;
    left: 2px;
    top: 2px;
}

.price-footer
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #768ede;
}

/*-------------------------------------- Payment-area -----------------------------------*/

.video-area {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    margin-bottom: 120px;
}

.video-photo {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.video-photo > img {
    width: 100%;
}

.video-area a.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.blue-border {
    border: 1px solid rgb(110, 178, 251);
}

.btn-paypal {
    background-color: #0052d8;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding: 6px 18px;
    text-align: center;
    max-width: 100%;
    border: 0;
}
.btn-paypal a {
    color: white;
}
.btn-paypal:hover {
    background-color: #3b85ff;
}
