<div class="test-items">
  <div class="three-item">
    <ul class="clearfix">
      <% if @quizzes.present? %>
        <% @quizzes.each do |quiz| %>
          <% if quiz.questions.present? %>
            <li class="car">
              <%= link_to quiz_path(quiz.id) do %>
                <div class="heading clearfix">
                  <% stat = get_quiz_level(quiz.id) %>
                  <span class="label labeleasy <%= stat.downcase %>" style="margin-left:4px;"><%= stat %></span>
                  <p><%=  quiz.title %></p>
                </div>

                <div class="content">
                  <% if current_user.present? %>
                    <% scorecard = current_user.scorecards.find_by_quiz_id(quiz.id) %>
                    <% unless scorecard.present? %>
                      <div class="overflow-text"><%= quiz.description %></div>
                    <% else %>
                      <div class="incomplete-text">
                        <% quiz_stat = get_quiz_stat(scorecard.id)  %>
                        <div><%= quiz_stat[:correct] %> <%= t("correct") %>, <%= quiz_stat[:incorrect] %> <%= t("incorrect") %> </div>
                        <span><%= t("RESUME") %></span>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="overflow-text"><%= quiz.description %></div>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        <%end%>
      <% else %>
          <li class="car">
            <a href="javascript:void(0);">
              <div class="heading clearfix">
                <span class="label labeleasy" style="margin-left:4px;">easy</span>
                <p><%= t(".No Quiz Found") %></p>
              </div>
            </a>
          </li>
      <% end %>
    </ul>
  </div>
</div>


<style type="text/css">
  .complete_test {
    background: #ffbca7 !important;
  }

</style>
