<footer>
  <div class="pageTop"> <%= link_to "#{image_tag('up-arrow.png')}".html_safe, "javascript:void(0)" %></a><br>PageTop</div>
  <div id="footer">
    <p id="copyright">copyright &copy;</p>
  </div>
</footer>