<header>
  <div id="header">
    <div id="headerIn" class="clearfix">
      <h1 id="headerLogo"><%= link_to t('.DriveExam'), root_path %></a></h1>
      <a href="#menu" class="menu-link active"><span></span></a>
      <nav id="gNavi" class="visiblePC menu">
        <ul class="level-1">
          <li id="gNav01"><a href="#"><%= t('.Highway Code') %></a></li>
          <li id="gNav02"><a href="#"> <%= t('.Hazard Perception Test') %></a></li>
          <!-- <li id="gNav03"><a href="#"> <%#= t('.Driving Tips') %></a></li> -->
          <li id="gNav04">
            <%= link_to t('.leader_board'), leader_board_home_index_path %>
          </li>
          <% if @current_user.present? %>
            <% if !@current_user.guest %>
              <li id="gNav01"><%= link_to t(".Membership"), memberships_path, method: :get %></li>
              <li id="gNav01"><%= link_to t(".profile"), edit_user_registration_path, method: :get %></li>
              <li id="gNav01"><%= link_to t(".Logout"), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li id="gNav01"><%= link_to t(".Sign-In"), new_user_session_path, method: :post %></li>
              <li id="gNav01"><%= link_to t(".Sign-Up"), new_user_registration_path %></li>
            <% end %>
          <% end %>
          <li>
            <a href="#" role="button" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('.Language') %></a>
            <span class="has-subnav">&#x25BC;</span>
            <ul class="wide level-2">
              <li><%= link_to "English", url_for(locale: :en) %></li>
              <li><%= link_to "العربى", url_for(locale: :ar) %></li>
              <li><%= link_to "svenska", url_for(locale: :sv) %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
 </header>
<style type="text/css">
.js .menu > ul li:hover > ul{ margin-top: -15px; margin-left: -9px; border-radius:0px 5px 5px 5px; }
html body ul.wide.level-2 li:hover a{ color: #000 !important; }
.menu-link span { display: inline-block; }
.menu, .menu > ul, .menu > ul ul { display: flex; flex-flow: column; }
.menu.active { max-height: 55em; width: 94vw; }
.js .menu > ul ul.active { max-height: 55em; }
nav li { display: inline-block; position: relative; }
.menu li a { display: inline-block; }
span.has-subnav { display: block; position: absolute; right: 0px; top: 0; text-align:right; }
@media screen and (max-width:800px) {
.menu, .menu > ul ul { margin: 0; max-height: 0; overflow: hidden; }
.menu li a { display: block; }
}
@media screen and (min-width: 801px) {
a.menu-link { display: none; }
.js .menu, .js .menu > ul ul { max-height: none; overflow: visible; }
.js .menu > ul li:hover > ul { display: flex; }
.menu ul { display: flex; flex-flow: row; height: 44px; justify-content: space-between; margin: 0; padding: 0; }
.menu span.has-subnav { display: none; }
.menu ul ul { display: none; height: auto; overflow: hidden; position: absolute; text-align: left; top: 43px; width: 150px; z-index: 999; }
.chrome .js .menu > ul ul { top: 43px; }
.menu ul ul.wide { width: 250px; }
.menu ul ul li { display: inline-block; position: relative; }
.menu ul ul li a { display: block; }
}

</style>
<script>
// Multi-Toggle Navigation
$(function() {
  $('body').addClass('js');
    var $menu = $('.menu'),
      $menulink = $('.menu-link'),
      $menuTrigger = $('.has-subnav');

  $menulink.click(function(e) {
    e.preventDefault();
    $menulink.toggleClass('active');
    $menu.toggleClass('active');
  });

  $menuTrigger.click(function(e) {
    e.preventDefault();
    var $this = $(this);
    $this.toggleClass('active').next('ul').toggleClass('active');
  });

});

// Remove "Active" Class from Menu on Resize
$(window).resize(function() {
  var viewportWidth = $(window).width();
    if (viewportWidth > 925) {
      $(".menu").removeClass("active");
    }
});

</script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>